


@import "../scss/variables/maps";
@import "../scss/variables/colors";
@import "../scss/normalize/reset";
@import "../scss/normalize/globales";
@import "../scss/efectos/gradiente";
@import "../scss/components/buttons";
@import "../scss/utilities/centrar-texto";
@import "../scss/layout/flex";
@import "../scss/components/images";
@import "../scss/components/text";
@import "../scss/components/navbar";
@import "../scss/layout/carousel";
@import "../scss/components/box";
@import "../scss/layout/gradient";
@import "../scss/layout/grid";
@import "../scss/layout/productos";
@import "../scss/layout/blog";
@import "../scss/layout/form";
@import "../scss/layout/footer";



