//** variables **//

$color_1: #000;
$color_2: #FFF;
$font-family_1: 'Raleway', sans-serif;
$font-family_2: 'Playfair Display', serif;
$background-color_1: #8cbc00;
$background-color_2: #769c02;
$background-color_5: #005485;
