
/** Header y Navegacion **/


.banner {
	width: 100%;
	height: 25rem;
}
.carousel-inner {
	width: 100%;
	max-height: 25rem;
}


//** Ejemplo Extend *//

.carrusel-icon{

	height: 10rem;
	width: 10rem;
	outline: black;
	background-color: map-get($estilos, color-carrusel);
	background-size: 100%, 100%;
	border-radius: 100%;
	border: 3px solid black;


}

.carousel-control-prev-icon {
	@extend .carrusel-icon;

}
.carousel-control-next-icon {
	@extend .carrusel-icon;

}



@media (min-width: 768px) {

	.banner {
		width: 80%;
		height: 50rem;
		padding-left: 300px;
	
	}
	.carousel-inner {
		width: 100%;
		max-height: 50rem;
		
	}

	
	
}
