
/** Bloque Nosotros */

.sobre-nosotros {
	background-image: linear-gradient(to bottom, transparent 50%, #037bc0 50%, #037bc0 100%), url(../assets/img/nosotros.jpg);
	background-position: center, top left;
	background-repeat: no-repeat;
	background-size: 100%, 70rem;
}




@media (min-width: 768px) {
 
    /** Bloque Nosotros */


	.sobre-nosotros {
		background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../assets/img/nosotros.jpg);
		background-position: left center;
		padding: 10rem 0;
		background-size: 100%, 160rem;
		
	}
	.sobre-nosotros-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: unset;
		column-gap: 60rem;
		height: 300px;
		
		
	}



	.texto-nosotros {
		grid-column: 2 / 3;
		width: 900px;
		
		

		
	}
}