
/** Listado de Productos **/


.contenido-principal {
	padding-top: 5rem;

}
.producto {
	background-color: map-get($estilos, color-producto);
	margin-bottom: 2rem;
	&:last-of-type {
		margin-bottom: 0;
	}
}
.texto-producto {
	text-align: center;
	color: map-get($estilos, texto-producto);
	padding: 2rem;
	h3 {
		margin: 0;
	}
	p {
		margin: 0 0 .5rem 0;
	}
	.precio {
		font-size: 2.8rem;
		font-weight: 900;
	}
}