
//** Ejemplo Extend *//

.btn {
	
	display: block;
	text-transform: uppercase;
	font-weight: 900;
	padding: 1rem;
	text-align: center;
	border: none;
	width: 100%;
	
}

.boton-carrito {
	@extend .btn;
	background-color: $background-color_1;
	color: $color_2;
	transition: background-color .3s ease-out;
	&:hover {
		background-color: $background-color_2;
		cursor: pointer;
	}

}


.boton-menu {
	text-decoration: none;
	color: $color_1;
	&:hover {
		background-color: map-get($estilos, color-producto);
		cursor: pointer;
	}

}