/** Header y Navegacion **/

.nav-principal {
	@include contenedor_flex(flex, column, center,center);
	padding: 2rem 0;
	width: 80%;
	
}
nav {
	li {
		position: relative;
		list-style: none;
		z-index: 10;
		
		&:hover {
			ul {
				display: block;
				background-color: map-get($estilos, color-producto);
				padding: 2rem;
			
				
			}
		}
	}
	ul {
		position: absolute;
		display: none;
		li {
			display: block;
			padding: 1rem;
		}
	}
}

@media (min-width: 768px) {

	.nav-principal {
		justify-content: space-between;
		flex-direction: row;
	}


}